<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <h1>CHAT ROOM</h1>
  <div class="box-chat">
    <div class="message-container" id="message-container">

    </div>

    <div class="form-message">
      <input type="text" placeholder="Masukkan pesan" id="message">
      <button type="button" id="btn-send">📤</button>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const messageContainer = document.getElementById('message-container');
    const btnSend = document.getElementById('btn-send');
    const message = document.getElementById('message');

    const sendHandler = (e) => {
      e.preventDefault();
      if (message.value) {
        const div = document.createElement('div');
        const newMessage = document.createElement('p');
        newMessage.textContent = message.value;

        const data = {
          id: socket.id,
          message: message.value,
        };
        socket.emit('message', data);

        div.appendChild(newMessage);
        messageContainer.appendChild(div);
        message.value = '';
      }
    }

    btnSend.addEventListener('click', sendHandler);

    socket.on('message', (id, message) => {
      const broadcast = document.createElement('div');
      broadcast.style.justifyContent = 'left';
      const username = document.createElement('span');
      username.textContent = id;
      const br = document.createElement('br');
      const newMessage = document.createElement('p');
      newMessage.textContent = message;

      broadcast.appendChild(username);
      broadcast.appendChild(br);
      broadcast.appendChild(newMessage);
      messageContainer.appendChild(broadcast);
    });
  </script>
</body>
</html>