<%- include('../public/base.html') %>
  <h1 class="title-chat">CHAT ROOM</h1>
  <div class="box-chat">
    <div class="message-container" id="message-container">
    </div>

    <div class="form-message">
      <input type="text" placeholder="Masukkan pesan" id="message" type="text">
      <button type="button" id="btn-send">Send</button>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const messageContainer = document.getElementById('message-container');
    const btnSend = document.getElementById('btn-send');
    const message = document.getElementById('message');
    const username = prompt('Masukkan username: ');
    

    const sendHandler = (e) => {
      e.preventDefault();
      if (message.value) {
        const div = document.createElement('div');
        const newMessage = document.createElement('p');
        newMessage.textContent = message.value;
        const data = {
          id: socket.id,
          message: {
            username: username,
            text: message.value,
          },
        };
        socket.emit('message', data);
        div.appendChild(newMessage);
        div.classList.add('message-sender');
        messageContainer.appendChild(div);
        message.value = '';
      }
    }

    message.addEventListener('keypress', (e)=>{
      if(e.key === 'Enter') {
        sendHandler(e);
      }
    });
    btnSend.addEventListener('click', sendHandler);

    socket.on('message', (id, message) => {
      const broadcast = document.createElement('div');
      const user = document.createElement('p');
      const newMessage = document.createElement('p');
      broadcast.classList.add('message-receiver');
      user.textContent = message.username;
      user.classList.add('username');
      newMessage.textContent = message.text;
      broadcast.appendChild(user);
      broadcast.appendChild(newMessage);
      messageContainer.appendChild(broadcast);
    });
  </script>

