* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.box-chat {
  border: 1pt solid black;
  width: 800px;
}

.message-container {
  width: 100%;
  height: 300px;
  padding: .5rem;
}

.message-container div {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
}

.message-container p {
  padding: 4px;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  float: right;
}

.form-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-message input {
  width: 80%;
  padding: .5rem .25rem;
}

.form-message button {
  width: 20%;
}
